.wrapper {
  font-size: 12px;
  padding: .4em 2em;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;

  background: #b159a4;
  color: white;
}

.loader {
  font-size: 1em;
  color: white;
  display: block;
  margin: auto;

  position: relative;
  top: 0%;
}

.wrapper_IsLoading > .content {
  opacity: 0;
  height: 0;
  display: block;
}